@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;1,100&family=Roboto:ital,wght@0,100;0,300;0,400;1,300;1,400&display=swap');

/* Start Global Style */
:root{
    --main-color: #21b7eb;
    --main-color-alt: #6FC846;
    --main-color-white:#ffffff;
    --light-color:#666;
    --light-bg:#eee;
    --main-transition: 0.3s;
    --main-padding-top: 100px;
    --main-padding-bottom: 100px;
    --section-background: #ececec;
    --box-shadow: 0px 0px 15px 1px var( --light-color);
}
*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto', sans-serif;
    /* background-color: var(--light-bg); */
    /* color: var(--colordark); */
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
/* Small */
@media (min-width: 768px) {
.container {
    width: 750px;
}
}
/* Medium */
@media (min-width: 992px) {
.container {
    width: 970px;
}
}
/* Large */
@media (min-width: 1200px) {
.container {
    width: 1170px;
}
}
.mybtn{
  display: inline-block;
  padding:1rem 3rem;
  border-radius: .5rem;
  background-color: var(--main-color);
  cursor: pointer;
  font-size: 1.5rem;
  color:var(--main-color-white);
}

.mybtn:hover{
  background-color: var(--main-color-alt);
  color:var(--main-color-white);
  text-decoration: none;
}

#myTopBtn{
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 1.2rem;
  border: none;
  outline: none;
  background-color: var(--main-color);
  color: var(--main-color-white);
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
  border: 2px solid white;
}
#myTopBtn:hover {
  background-color: var(--main-color-alt);
}

/* End Global Style */

/* Start Header */
.header {
    background-color: white;
    position: relative;
    -webkit-box-shadow: 0 0 10px #ddd;
    -moz-box-shadow: 0 0 10px #ddd;
    box-shadow: 0 0 10px #ddd;
  }
  .header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
  }
  .header .logo {
    color: var(--main-color);
    font-size: 2rem;
    font-weight: bold;
    height: 146px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .header .logo img{
    height: 146px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  @media (max-width: 767px) {
    .header .logo {
      width: 100%;
      height: 146px;
    }
  }
  .header .main-nav {
    display: flex;
  }
  @media (max-width: 767px) {
    .header .main-nav {
      margin: auto;
    }
  }
  .header .main-nav > li:hover .mega-menu {
    opacity: 1;
    z-index: 100;
    top: calc(100% + 1px);
  }
  .header .main-nav > li > a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 146px;
    position: relative;
    color: black;
    padding: 0 30px;
    overflow: hidden;
    font-size: 1.1rem;
    transition: var(--main-transition);
  }
  @media (max-width: 991px) {
    .header .main-nav > li > a {
      padding: 5px;
      font-size: 1.3rem;
      height: 40px;
    }
  }
  @media (max-width: 767px) {
    .header .main-nav > li > a {
      padding: 10px;
      font-size: 1rem;
      height: 40px;
    }
  }
  .header .main-nav > li > a::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: var(--main-color);
    top: 0;
    left: -100%;
    transition: var(--main-transition);
  }
  .header .main-nav > li > a:hover {
    color: var(--main-color);
    background-color: #fafafa;
  }
  .header .main-nav > li > a:hover::before {
    left: 0;
  }
  .main-title {
    text-transform: uppercase;
    margin: 40px auto 40px;
    border: 2px solid black;
    padding: 10px 20px;
    font-size: 1.9rem;
    width: fit-content;
    position: relative;
    z-index: 1;
    transition: var(--main-transition);
  }
  .main-title::before,
  .main-title::after {
    content: "";
    width: 12px;
    height: 12px;
    background-color: var(--main-color);
    position: absolute;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
  }
  .main-title::before {
    left: -30px;
  }
  .main-title::after {
    right: -30px;
  }
  .main-title:hover::before {
    z-index: -1;
    animation: left-move 0.5s linear forwards;
  }
  .main-title:hover::after {
    z-index: -1;
    animation: right-move 0.5s linear forwards;
  }
  .main-title:hover {
    color: white;
    border: 2px solid white;
    transition-delay: 0.5s;
  }

  .second-title {
    text-align: center;
    font-weight: bolder;
    margin: 3rem;
}
.spikes {
  position: relative;
}
.spikes::after {
  content: "";
  position: absolute;
  right: 0;
  width: 100%;
  height: 30px;
  z-index: 1;
  background-image: linear-gradient(135deg, white 25%, transparent 25%),
    linear-gradient(225deg, white 25%, transparent 25%);
  background-size: 30px 30px;
}
  /* End Header */

/* Start home */
.home {
    position: relative;
  }
  .home::before {
    content: "";
    position: absolute;
    left: 0;
    top: -40px;
    width: 100%;
    height: 100%;
    background-color: #ececec;
    z-index: -1;
    transform: skewY(-6deg);
    transform-origin: top left;
  }
  .home .container {
    min-height: calc(100vh - 146px);
    display: flex;
    align-items: center;
    padding-bottom: 120px;
  }
  .home .text {
    flex: 1;
  }
  @media (max-width: 991px) {
    .home .text {
      text-align: center;
    }
  }
  .home .text h1 {
    font-size: 2.5rem;
    margin: 0;
    letter-spacing: -2px;
  }
  @media (max-width: 767px) {
    .home .text h1 {
      font-size: 28px;
    }
  }
  .home .text p {
    font-size: 1.4rem;
    line-height: 1.7;
    margin: 5px 0 0;
    color: #666;
    max-width: 500px;
  }
  @media (max-width: 991px) {
    .home .text p {
      margin: 10px auto;
    }
  }
  @media (max-width: 767px) {
    .home .text p {
      font-size: 1.1rem;
    }
  }
  .home .image img {
    position: relative;
    width: 700px;
    animation: up-and-down 5s linear infinite;
  }
  @media (max-width: 991px) {
    .home .image {
      display: none;
    }
  }
  .home .go-down {
    color: var(--main-color);
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    transition: var(--main-transition);
  }
  .home .go-down:hover {
    color: var(--main-color-alt);
  }
  .home .go-down i {
    animation: bouncing 1.5s infinite;
  }
  /* End Home */

/* Start Services */
    .services{
      padding: 50px 15px;
      /* box-shadow: 0px 5px 18px 7px var(--main-color); */
    }

    .services .container{
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
      gap: 2rem;
    }
    .service-title{
      display: flex;
      justify-content: space-around;
    }
    .services .image img{
      /* height: 15rem; */
      position: relative;
      height: 10rem;
      animation: up-and-down 5s linear infinite;
    }
    
    .services .text{
      /* padding:0px 2rem;
      text-align: left; */
    }
    .services .text p{
     font-size: 1.3rem;
     /* padding-top: 10px; */
    }
    .services .box{
      background-color: var(--main-color);
      padding:2rem;
      border-radius: .5rem;
      text-align: center;
      box-shadow: var(--box-shadow);
      color:var(--main-color-white);
      cursor: pointer;
    }
    .services .box:hover{
      transform: translateY(-10px) ;
      background-color: var(--main-color-alt);
    }
    .services .box img {
      max-width: 100%;
      margin:1rem 0;
      height: 21rem;
    }
    .services .box .content {
      padding: 1.2rem;
    }
    .services .box .content h3{
      margin: 0;
      font-size: 2rem;
      padding:1rem 0;
    
    }
    .services .box .content p{
      margin: 10px 0 0;
      line-height: 1.5;
      font-size: 1.3rem;
      text-align: left;
      display: none;
    }

    .services .accordion_wrap .accordion_header{
      width: 100%;
      /* height: 50px; */
      height: auto;
      background: var(--main-color);
      padding: 15px;
      color: var(--main-color-white);
      font-weight: 700;
      font-size: 1.5rem;
      border-bottom: 2px solid var(--main-color-white);
      position: relative;
      cursor: pointer;
    }
    
    .services .accordion_wrap:first-child .accordion_header{
      border-top-left-radius: 3px;
      border-top-right-radius: 3px;
    }
    
    .services .accordion_wrap:last-child .accordion_header{
      border-bottom: 2px solid transparent;
      border-bottom-left-radius: 3px;
      border-bottom-right-radius: 3px;
    }
    
    .services .accordion_wrap:last-child .accordion_header:hover{
      border-bottom: 2px solid transparent;
    }
    
    .services .accordion_wrap .accordion_header:before,
    .services .accordion_wrap .accordion_header:after{
      content: "";
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 15px;
      width: 20px;
      height: 2px;
      background: var(--main-color-white);
      
    }
    
    .services .accordion_wrap .accordion_header:hover{
      color: var(--light-color);
      border-color: var(--light-color);
    }
    
    .services .accordion_wrap .accordion_header:hover:before,
    .services .accordion_wrap .accordion_header:hover:after{
      background: var(--light-color);
    }
    
    .services .accordion_wrap .accordion_header:after{
      transform: rotate(-90deg);
      transition: all 0.5s ease;
    }
    
    .services .accordion_wrap .accordion_body{
      width: 100%;
      height: 0px;
      transition: all 0.5s ease;
      background: var(--main-color-white);
      overflow: hidden;
    }
    
    .services .accordion_wrap .accordion_body p{
      padding: 5px;
      font-size: 1rem;
    }
    .services .accordion_wrap .accordion_body ul{
      padding-left: 40px;
      font-size: 1rem;
    }
    .services .accordion_wrap .accordion_body ol{
      padding-left: 40px;
      font-size: 1rem;
    }
    .services .accordion_wrap .accordion_body h5{
      padding: 5px;
      font-weight: bold;
      color: var(--black);
      }
      .services .accordion_wrap .accordion_body h3{
        padding: 5px;
        font-weight: bold;
      }
      

    
    .services .accordion_wrap .accordion_header.accordion_active{
      color: var(--main-color-white); 
      border-color: var(--main-color-white);
      background: var(--main-color-alt);
    }
    
    .services .accordion_wrap:last-child .accordion_header.accordion_active{
      border-bottom: 2px solid var(--main-color-white);
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
    }
    
    .services .accordion_wrap .accordion_header.accordion_active:before,
    .services .accordion_wrap .accordion_header.accordion_active:after{
      background: var(--main-color-white);
    }
    
    .services .accordion_wrap .accordion_header.accordion_active:after{
      transform: rotate(0deg);
    }
    
    .services .accordion_wrap .accordion_header.accordion_active + .accordion_body{
      /* height: 180px; */
      height: fit-content;
      border-left: 1px solid var(--main-color-alt);
    }

    @media (max-width: 991px) {
      .services .container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
        gap: 2rem;
      }
      .services .container .service-title .image {
        display: none;
      }
      .services .box img {
        height: 11rem;
      }
    }
    @media (max-width: 767px) {
      .services .container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
        gap: 2rem;
      }
      .services .container .service-title .image {
        display: none;
      }
      .services .box img {
        height: 11rem;
      }
    }

/* End Services services */

/* Start Process */
    .process {
      /* padding: 10px 0px; */
      /* box-shadow: 0px 5px 18px 7px var(--main-color);  */
      /* padding-top: 100px; */
      padding-bottom: 100px;
    }
    .process .container{
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
      gap: 2rem;
    }
    .process .box{
      background-color: var(--main-color);
      padding:2rem;
      border-radius: .5rem;
      text-align: center;
      box-shadow: var(--box-shadow);
    }
    .process .box:hover{
     transform: translateY(-10px) ;
    }
    .process .box img {
      max-width: 100%;
    }
    .process .box .content {
      padding: 1.2rem;
    }
    .process .box .content h3{
      margin: 0;
    
    }
    .process .box .content p{
      margin: 10px 0 0;
      line-height: 1.5;
    }

/* End Process */

/* Start About */

    .about{
      padding-top: 50px;
      background-color: var(--light-bg);
      margin-bottom: -10px;
    }
   
    /* Galerie */
     .about .container .img-galerie{
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
      grid-gap: 20px;
      padding-bottom: 10px;
  }
   .about .container .img-galerie img{
     width: 100%;
     height: 100%;
     min-height: 250px;
     max-height: 250px;
     cursor: pointer;
     border: 2px solid var(--main-color);
  }
   .about .container .img-galerie img:hover{
    border-radius: 20px;
     transform: scale(0.8) rotate(-10deg);
     box-shadow: 0 32px 75px var(--main-color-alt);
   }
    .about .container .full-img{
      width: 100%;
      height: 100vh;
      background: rgba(0, 0, 0, 0.9);
      position: fixed;
      top: 0;
      left: 0;
      display: none;
      justify-content: center;
      align-items: center;
      z-index: 100;
   }
    .about .container .full-img img{
      width: 90%;
      max-width: 500px;
      /* max-width: 60%; */
      /* max-height: 60%; */
   }
    .about .container .full-img span{
      position: absolute;
      top: 10%;
      right: 10%;
      font-size: 30px;
      color: white;
      cursor: pointer;
   }
  
    .about .container .full-img.active{
     display: flex;
   }
    .about .container .full-img.deactive{
      display: none;
    }
    @media (max-width: 967px){
      
        .about .container .img-galerie {
          grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
          grid-gap: 10px;
      }
    }
    @media (max-width: 767px){
            .about .container .img-galerie {
          grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
          grid-gap: 10px;
      }
      .about .container .img-galerie img {
        min-height: 150px;
        max-height: 150px;
    }
    }


/* End About */
/* Start Team */
    .team {
      padding-top: var(--main-padding-top);
      padding-bottom: var(--main-padding-bottom);
      position: relative;
      background-color: var(--light-bg);
    }
    .team .container {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
      gap: 30px;
    }
    .team .box {
      position: relative;
    }
    .team .box::before,
    .team .box::after {
      content: "";
      background-color: #f3f3f3;
      position: absolute;
      right: 0;
      top: 0;
      height: 100%;
      border-radius: 10px;
      transition: var(--main-transition);
    }
    .team .box::before {
      width: calc(100% - 60px);
      z-index: -2;
    }
    .team .box::after {
      z-index: -1;
      background-color: #e4e4e4;
      width: 0;
    }
    .team .box:hover::after {
      width: calc(100% - 60px);
    }
    .team .box .data {
      display: flex;
      align-items: center;
      padding-top: 60px;
    }
    .team .box .data img {
      width: calc(100% - 60px);
      transition: var(--main-transition);
      border-radius: 10px;
    }
    .team .box:hover img {
      filter: grayscale(100%);
    }

    .team .box .info {
      padding-left: 10px;
      margin-top: 10px;
    }
    .team .box .info h3 {
      margin-bottom: 0;
      color: var(--main-color);
      font-size: 22px;
      transition: var(--main-transition);
    }
    .team .box .info p {
      margin-top: 10px;
      margin-bottom: 25px;
    }
    .team .box:hover .info h3 {
      color: #777;
    }
/* End Team */
/* Start Kontakt */
  .contact {
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
    position: relative;
  }
.contact .container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  gap:2rem;
}

.contact .container .box{
  /* background-color: var(--white); */
  background-color: var(--light-bg);
  text-align: center;
  border-radius: .5rem;
  box-shadow: var(--box-shadow);
  padding:2rem;
}

.contact .container .box img{
  height: 10rem;
  width: 10rem;
  border-radius: 50%;
}

.contact .container .box p{
  padding:2rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
  color:var(--light-color);
  margin-bottom: 0;
}
.contact .container .box h3{
  font-size: 2rem;
  color:var(--black);
}

.contact .container .box span{
  color:var(--light-color);
  font-size: 1.5rem;
}

/* End Kontakt */

/* Start Karriere */
    .karriere {
      /* background-color: var(--light-bg); */
    }
    .karriere .content{
      padding: 10px;
    }
    .karriere .content span{
      /* font-size: 2rem; */
      color:var(--main-color);
    }

    .karriere .content h3{
      font-size: 3rem;
      color:var(--main-color);
      margin-top: 1rem;
    }

    .karriere .content p{
      /* padding:1rem 0; */
      font-size: 1.4rem;
      color:var(--light-color);
      line-height: 2;
    }
/* End Karriere */

/* Start Impressum */
  .impressum .content{
    padding: 10px;
  }
  .impressum .row{
    min-height: 50vh;
  }

  .impressum .content span{
    /* font-size: 2rem; */
    color:var(--main-color);
  }
  .impressum .content a{
    color:var(--main-color);
  }
  .impressum .content h3{
    font-size: 2.5rem;
    margin-top: 1rem;
  }

  .impressum .content p{
    padding:1rem 0;
    font-size: 1.4rem;
    color:var(--light-color);
    line-height: 2;
  }
/* End Impressum */

/* Start Satenschutz */

  .datenschutz .content{
    padding: 10px;
  }
  .datenschutz .row{
    min-height: 50vh;
  }

  .datenschutz .content span{
    /* font-size: 2rem; */
    color:var(--main-color);
  }
  .datenschutz .content a{
    color:var(--main-color);
  }

  .datenschutz .content h3{
    font-size: 3rem;
    margin-top: 1rem;
  }

  .datenschutz .content p{
    padding:1rem 0;
    font-size: 1.4rem;
    color:var(--light-color);
    line-height: 2;
  }

  .active_hide{
    display: none;
  }
/* End Datenschutz */

  /* Start Footer */
.footer {
    background-color:  var(--light-color);
    padding: 40px 0 0;
  }
  @media (max-width: 767px) {
    .footer {
      text-align: center;
    }
    .datenschutz .content h3{
      font-size: 2rem;
    }
  
    .datenschutz .content p{
      font-size: 1rem;
    }
  }
  .footer .container {
    /* display: grid;
    grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
    gap: 3rem; */
    display: flex;
    flex-direction: column;
  }
  .footer .box {
    display: flex;
    justify-content: space-between;
  }

  .footer .box h3 {
    color: var(--main-color-white);
    font-size: 1.5rem;
    margin: 10px;
  }
  .footer .box .line {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--main-color-white);
    margin-bottom: 30px;
  }
  @media (max-width: 767px) {
    .footer .box .line {
      flex-direction: column;
    }
  }
  .footer .box .line i {
    font-size: 1.5rem;
    color: var(--main-color);
    margin-right: 10px;
  }
  @media (max-width: 767px) {
    .footer .box .line i {
      margin-right: 0;
      margin-bottom: 15px;
    }
  }
  .footer .copyright {
    text-align: center;
    border-top: 1px solid var(--light-bg);
    padding-top: 1rem;
    margin-bottom: 1rem;
    font-size: 1.5rem;
    color: var(--main-color-white);
  }
  .footer .copyright a {
    color: var(--main-color);
  }
  /* End Footer */

  /* Start Animation */
@keyframes up-and-down {
  0%,
  100% {
    top: 0;
  }
  50% {
    top: -50px;
  }
}
@keyframes bouncing {
  0%,
  10%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40%,
  60% {
    transform: translateY(-15px);
  }
}
@keyframes left-move {
  50% {
    left: 0;
    width: 12px;
    height: 12px;
  }
  100% {
    left: 0;
    border-radius: 0;
    width: 100%;
    height: 100%;
  }
}
@keyframes right-move {
  50% {
    right: 0;
    width: 12px;
    height: 12px;
  }
  100% {
    right: 0;
    border-radius: 0;
    width: 100%;
    height: 100%;
  }
}
@keyframes moving-arrow {
  100% {
    transform: translateX(10px);
  }
}
@keyframes flashing {
  0%,
  40% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    width: 200%;
    height: 200%;
  }
}
@keyframes change-background {
  0%,
  100% {
    background-image: url("../imgs/discount-background1.jpg");
  }
  50% {
    background-image: url("../imgs/discount-background2.jpg");
  }
}
/* End Animation */