:root{
    --primaryColor: #3880ff;
    --secondaryColor: #f7bcf7;
    --lightColor: #ffffff;
    --bgColor1: #171a1c;
    --bgColor2: #232c42;
    --padding: 8%;
    /* --colorfont: #ffffff; */
    --shadow: 0px 0px 15px var(--primaryColor);
}

*{
    margin: 0px;
    padding: 0px;
    /* width: 100%; */
}
html{
     /* 1rem =16px standard &  rem = px from html/px from elemnt */
    font-size: 16px; 
    font-family: 'Josefin Sans', sans-serif;
    color: var(--lightColor);
}
h1{
    font-size: 4.65rem;
    margin: 1.7rem 0;
}
h2{
    font-size: 2rem;
    cursor: pointer;
    letter-spacing: 0.12rem;
}
h3{
    font-size: 1.5rem;
    margin-bottom: 3.5rem;
}
h4{
    font-size: 1.25rem;
    letter-spacing: 0.12rem;
    color: var(--secondaryColor);
}
h5{
    font-size: 1.37rem;
    margin-bottom: 1.5rem;
    letter-spacing: 2px;
}
p{
    color: var(--secondaryColor);
    letter-spacing: 1px;
    line-height: 1.8rem;
    font-size: 1rem;
}
span{
    color: var(--primaryColor);
}
.home{
    width: 100%;
    height: 100vh;
    background-color: var(--bgColor1);
    display: flex;
    flex-direction: column;
}
nav{
    /* background-color: #3880ff; */
    padding-top: 1.2rem;
    padding-left: var(--padding);
    display: flex;
    justify-content: space-around;
    align-items: center;
}
nav ul li{
    list-style: none;
    display: inline-block;
    margin: 0.8rem 1.5rem;
}
nav ul li a{
    text-decoration: none;
    color: var(--lightColor);
    text-transform: capitalize;
    transition: 0.4s;
}
nav ul li a:hover{
    color: var(--primaryColor);
}
.btn{
    background-color: var(--primaryColor);
    color: var(--lightColor);
    text-decoration: none;
    font-weight: bold;
    padding: 0.71rem 1.77rem;
    border-radius: 2rem;
    border: 2px solid transparent;
    transition: 0.4s;
}
.btn:hover{
    background-color: transparent;
    border: 2px solid var(--primaryColor);
    cursor: pointer;
}
.content{
    /* background-color: #f7bcf7; */
    flex-grow: 1;
    padding: 0  var(--padding);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.home .container-text{
    position: relative;
    bottom: 70px;
}

.social{
    margin-top: 3.5rem;
}
.social img{
    margin-right: 1.5rem;
    width: 2.5rem;
    /* border: 2px solid transparent ; */
    transition: 0.4s;
}
.social img:hover{
    transform: scale(1.2);
    /* background-color: transparent; */
    /* border: 2px solid var(--primaryColor); */
}
.home .container-images{
    /* background-color: #2282a2; */
    width: 45%;
    height: 90%;
    position: relative;
    align-self: flex-end;
}
.home .container-images img{
    position: absolute;
    bottom: 0;
    height: 100%;
    left: 50%;
    transform: translateX(-50%);
    transition: bottom 1s, left 1s;
}
.home .container-images:hover .shape{
    bottom: 40px;
}
.home .container-images:hover .pic{
    left: 45%;
}
.about{
    background-color: var(--bgColor2);
    padding: 2rem  var(--padding);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.about .container-images{
    width: 35%;

    height: 90%;
    position: relative;
    align-self: flex-end;
}
.about .container-images img{
    width: 90%;
}
.about .container-text{
    width: 35%;
}
.services{
    background-color: var(--bgColor1);
    padding: 2rem  var(--padding);
}
.text-center{
    text-align: center;
}
.box {
    display: flex;
    justify-content: space-between;
}
.card{
    width: 300px;
    background-color: var(--bgColor2);
    border-radius: 20px;
    padding: 1.3rem 2rem;
    text-align: center;
}
.card em{
    font-size: 3.12rem;
    text-align: center;
    color: var(--primaryColor);
    margin: 2rem;
}
.skills{
    background-color: var(--bgColor2);
    padding: 2rem  var(--padding);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.skills .container-images{
    width: 35%;
}
.skills .container-images img{
    width: 90%;
}
.skills .container-skills{
    width: 50%;
}

.content-skills{
    display: flex;
    flex-wrap: wrap;
    margin-top: 4rem;
}
.skill{
    width: 100px;
    height: 100px;
    background-color: var(--lightColor);
    border-radius: 50%;
    margin: 0 2rem 2rem 0;
    display: flex;
    text-align: center;
    justify-content: center;
}
.skill img{
    width: 70%;
    height: 70%;
    margin-top: 1rem;
}
footer{
    clear: both;
    background-color: var(--bgColor1);
    padding: 2rem var(--padding);
}
footer .content-footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
footer .content-footer p{
   color: var(--lightColor);
   text-align: center;
   width: 500px;
   margin-top: 1rem;

}
footer .content-footer .end{
   color: var(--primaryColor);
   margin-top: 1rem;
}








/* 
header{
    font-size: 1rem;
    background-color: var(--primaryColor);
    color: var(--colorfont);
    height: 100px;
}
.header-top{
    height: 30px;
    background-color: var(--primaryColorConstarst);

}
.header-bottom{
    
}
aside{
    background-color: rgb(236, 236, 149);
    font-size: 1rem;
    width: 10%;
    float: left;
    height: 200px;
}
main{
    background-color: rgb(238, 123, 94);
    font-size: 1rem;
    width: 90%;
    float: right;
    box-shadow: var(--shadow);
}
footer{
    clear: both;
    background-color: rgb(124, 231, 133);
} */

/* @media screen and (max-width:800px){
    main{
        background-color: rgb(239, 161, 255);
        font-size: 1rem;
        width: 90%;
        float: right;
        box-shadow: var(--shadow);
    }
}

@media screen and (min-width:500px) and (max-width:800px){
    main{
        background-color: rgb(239, 161, 255);
        font-size: 1rem;
        width: 90%;
        float: right;
        box-shadow: var(--shadow);
    }
} */