@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;1,100&family=Roboto:ital,wght@0,100;0,300;0,400;1,300;1,400&display=swap');
:root{
   --main-color: #21b7eb;
   --main-color-alt: #6FC846;
   --main-color-white:#ffffff;
   --light-color:#666;
   --light-bg:#eee;
   --main-transition: 0.3s;
   --main-padding-top: 100px;
   --main-padding-bottom: 100px;
   --section-background: #ececec;
   --box-shadow: 0px 0px 15px 1px var( --light-color);
}
*{
   margin: 0;
   padding: 0;
   font-family: 'Montserrat', sans-serif;
   font-family: 'Roboto', sans-serif;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
}
html {
   scroll-behavior: smooth;
}
.container {
   padding-left: 15px;
   padding-right: 15px;
   margin-left: auto;
   margin-right: auto;
}

.img-galerie{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 20px;
    
}
.img-galerie img{
   width: 100%;
   height: 100%;
   cursor: pointer;
   border: 2px solid red;
}
.img-galerie img:hover{
  border-radius: 20px;
   transform: scale(0.8) rotate(-10deg);
   box-shadow: 0 32px 75px rgba(122, 222, 135, 0.5);
 }
 .full-img{
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.9);
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 100;
 }
 .full-img img{
    width: 90%;
    /* max-width: 500px; */
    max-width: 60%;
    max-height: 60%;
 }
 .full-img span{
    position: absolute;
    top: 10%;
    right: 10%;
    font-size: 200px;
    color: white;
    cursor: pointer;
 }

 .full-img.active{
   display: flex;
 }
 .full-img.deactive{
    display: none;
  }
  @media (max-width: 967px){
    .full-img span{
        font-size: 50px;
     }
     .img-galerie {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        grid-gap: 10px;
    }
  }
  @media (max-width: 767px){
    .full-img span{
        font-size: 30px;
     }
     .img-galerie {
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
        grid-gap: 10px;
    }
  }


  /* Image slider */
    .slider-container{
   margin: 10px auto;
   width: 80%;
   height: 50vh;
   position: relative;
 }
   .slider-container img {
   position: absolute;
   opacity: 0;
   transition: opacity 1s;
   z-index: 1;
   height: 100%;
   width: 100%;
 }
   .slider-container img.active {
   opacity: 1;
 }
   .slider-container .slider-count {
   position: absolute;
   left: 10px;
   top: 10px;
   background-color: rgba(0, 0, 0, .6);
   color: var(--main-color-white);
   padding: 5px 10px;
   font-size: 20px;
   z-index: 2;
   border-radius: 6px;
 }
   .slider-control {
   /* width: 800px; */
   margin: auto;
   overflow: hidden;
   z-index: 1;
   position: absolute;
   width: 100%;
   bottom: 10px;
 }
   .slider-control .prev,
   .slider-control .next {
   background-color: var(--main-color);
   color: var(--main-color-white);
   font-size: 20px;
   text-align: center;
   cursor: pointer;
   border-radius: 4px;
   /* padding: 5px; */
   user-select: none;
   width: 2%;
 }
   .slider-control .prev:hover,
   .slider-control .next:hover {
   background-color: var(--main-color-alt);
   color: var(--main-color-white);
 }
   .slider-control .prev {
   float: left;
 }
   .slider-control .next {
   float: right;
 }

   .slider-control .indicators {
   width: 96%;
   float: left;
 }
   .slider-control .indicators ul {
   list-style: none;
   margin: 0;
   text-align: center;
 }
   .slider-control .indicators ul li {
   display: inline-block;
   background-color: var(--main-color-white);
   color: var(--light-color);
   /* font-weight: bold; */
   /* height: 28px;
   width: 28px; */
   border-radius: 4px;
   margin: 0 2px;
   line-height: 28px;
   cursor: pointer;
   border-radius: 50%;
   width: 13px;
   height: 13px;
   padding: 0;
 }
   .slider-control .indicators ul li.active {
   background-color: var(--main-color-alt);
   color: var(--main-color-white);
 }